In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/train_data.csv')
df.head()

,UID,trip_creation_time,route_schedule_uuid,route_type,trip_uuid,source_center,source_name,destination_center,destination_name,od_start_time,...,cutoff_timestamp,actual_distance_to_destination,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor,actual_time
0,lWYYrbNEdf,2018-09-15 02:23:18.656742,thanos::sroute:9d8ed3f7-a8af-4393-ad7a-c57a720...,FTL,trip-153697819865649878,IND832109AAB,Jamshedpur_Central_I_3 (Jharkhand),IND834002AAB,Ranchi_Hub (Jharkhand),2018-09-15 02:23:18.656742,...,2018-09-15 04:45:23,158.807515,778.672716,1228.735753,2.782826,77.988686,20.793472,28.475783,3.292773,100.0
1,iNJcHQlPCm,2018-09-30 15:07:48.971326,thanos::sroute:b9142a73-d68f-46ec-9afc-d145479...,FTL,trip-153832006897106333,IND422011AAD,Nashik_TgrniaRD_I (Maharashtra),IND421302AAG,Bhiwandi_Mankoli_HB (Maharashtra),2018-09-30 22:38:13.903069,...,2018-10-01 05:38:30,81.388109,227.479029,NaN,3.625248,68.517914,18.787231,34.612259,4.277350,61.0
2,U6N0M43qwR,2018-09-23 22:15:46.635975,thanos::sroute:883e99fa-50a3-40e0-a2e2-9b12ed6...,FTL,trip-153774094663572416,IND845305AAA,Raxaul_KairiyaT_D (Bihar),NaN,Muzaffrpur_Bbganj_I (Bihar),2018-09-24 03:56:37.016232,...,2018-09-24 09:21:30,134.486898,400.072069,1188.943158,4.415969,70.475386,24.371978,29.867950,5.322072,69.0
3,RrJUneuYNj,2018-09-21 05:11:44.833176,thanos::sroute:96a80600-40e1-436b-9161-fa68f9e...,FTL,trip-153750670483274503,IND842001AAA,Muzaffrpur_Bbganj_I (Bihar),IND854326AAB,Purnia_Central_H_2 (Bihar),2018-09-22 10:08:32.593022,...,2018-09-22 14:09:17,262.866674,510.123878,999.421258,2.946647,101.876844,19.588977,27.794019,4.265799,300.0
4,7QLdD7iRC9,2018-09-18 01:10:49.936747,thanos::sroute:b43ec86d-59c1-452c-b4a9-807d357...,FTL,trip-153723305402762987,IND411033AAA,Pune_Tathawde_H (Maharashtra),IND501359AAE,Hyderabad_Shamshbd_H (Telangana),2018-09-18 01:10:49.936747,...,2018-09-18 12:14:05,379.389280,NaN,NaN,1.998790,46.571301,22.671495,26.971844,3.553652,286.0

In [4]:
df.columns

Index(['UID', 'trip_creation_time', 'route_schedule_uuid', 'route_type',
       'trip_uuid', 'source_center', 'source_name', 'destination_center',
       'destination_name', 'od_start_time', 'od_end_time',
       'start_scan_to_end_scan', 'is_cutoff', 'cutoff_factor',
       'cutoff_timestamp', 'actual_distance_to_destination', 'osrm_time',
       'osrm_distance', 'factor', 'segment_actual_time', 'segment_osrm_time',
       'segment_osrm_distance', 'segment_factor', 'actual_time'],
      dtype='object')

In [5]:
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import OneHotEncoder

In [6]:
df[['trip_creation_date','trip_creation_clk']] = df['trip_creation_time'].str.split(' ', expand=True)
df[['trip_creation_year','trip_creation_month','trip_creation_day']] = df['trip_creation_date'].str.split('-', expand=True)
df[['trip_creation_hour','trip_creation_min','trip_creation_sec']] = df['trip_creation_clk'].str.split(':', expand=True)

df[['trip_creation_year','trip_creation_month','trip_creation_day','trip_creation_hour','trip_creation_min','trip_creation_sec']] = df[['trip_creation_year','trip_creation_month','trip_creation_day','trip_creation_hour','trip_creation_min','trip_creation_sec']].astype(float)

df = df.drop(['trip_creation_time','trip_creation_date','trip_creation_clk'], axis=1)

In [3]:
df['route_schedule_uuid'] = df['route_schedule_uuid'].str.replace('thanos::sroute:', '')
df[['route_uuid_1','route_uuid_2','route_uuid_3','route_uuid_4','route_uuid_5']] = df['route_schedule_uuid'].str.split('-', expand=True)

#print(len(pd.unique(df['route_uuid_1'])), len(pd.unique(df['route_uuid_2'])), len(pd.unique(df['route_uuid_3'])), len(pd.unique(df['route_uuid_4'])), len(pd.unique(df['route_uuid_5'])))
#df = df.drop(['route_schedule_uuid','route_uuid_1','route_uuid_2','route_uuid_3','route_uuid_4','route_uuid_5'], axis=1)

In [8]:
print(len(pd.unique(df['route_type'])))

encoder = LabelBinarizer()
df['route_type'] = encoder.fit_transform(df['route_type'])

2

In [32]:
df['trip_uuid'] = df['trip_uuid'].str.replace('trip-', '')

#print(len(pd.unique(df['trip_uuid'])))
#df = df.drop(['trip_uuid'], axis=1)

In [33]:
df['trip_uuid']

0         79300
1         36979
2        844588
3        161780
4        331026
          ...
72153    834650
72154    170602
72155    550609
72156    675451
72157    964247
Name: trip_uuid, Length: 72158, dtype: int64

In [10]:
df['source_center'] = df['source_center'].str.replace('IND', '')
df['source_center_number'] = df['source_center'].str[:6]
df['source_center_name'] = df['source_center'].str[6:]

print(len(pd.unique(df['source_center_number'])), len(pd.unique(df['source_center_name'])))
df = df.drop(['source_center','source_center_number'], axis=1)

encoder = OneHotEncoder()
df_source_center_name = pd.DataFrame(encoder.fit_transform(df[['source_center_name']]).toarray())
df_source_center_name = df_source_center_name.add_prefix('source_center_name_')
df = df.join(df_source_center_name)

df = df.drop(['source_center_name'], axis=1)

1349 35

In [11]:
df['source_name'] = df['source_name'].str.replace('(', ' ')
df['source_name'] = df['source_name'].str.replace(')', '')
df[['source_name_gali','source_name_city']] = df['source_name'].str.split('  ', expand=True)

print(len(pd.unique(df['source_name_gali'])), len(pd.unique(df['source_name_city'])))
df = df.drop(['source_name','source_name_gali'], axis=1)

encoder = OneHotEncoder()
df_source_name_city = pd.DataFrame(encoder.fit_transform(df[['source_name_city']]).toarray())
df_source_name_city = df_source_name_city.add_prefix('source_name_city_')
df = df.join(df_source_name_city)

df = df.drop(['source_name_city'], axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_19804\3396812767.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['source_name'] = df['source_name'].str.replace('(', ' ')
C:\Users\HP\AppData\Local\Temp\ipykernel_19804\3396812767.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['source_name'] = df['source_name'].str.replace(')', '')

1456 31

In [12]:
df['destination_center'] = df['destination_center'].str.replace('IND', '')
df['destination_center_number'] = df['destination_center'].str[:6]
df['destination_center_name'] = df['destination_center'].str[6:]

print(len(pd.unique(df['destination_center_number'])), len(pd.unique(df['destination_center_name'])))
df = df.drop(['destination_center','destination_center_number'], axis=1)

encoder = OneHotEncoder()
df_source_center_name = pd.DataFrame(encoder.fit_transform(df[['destination_center_name']]).toarray())
df_source_center_name = df_source_center_name.add_prefix('destination_center_name_')
df = df.join(df_source_center_name)

df = df.drop(['destination_center_name'], axis=1)

1348 28

In [13]:
df['destination_name'] = df['destination_name'].str.replace('(', ' ')
df['destination_name'] = df['destination_name'].str.replace(')', '')
df[['destination_name_gali','destination_name_city']] = df['destination_name'].str.split('  ', expand=True)

print(len(pd.unique(df['destination_name_gali'])), len(pd.unique(df['destination_name_city'])))
df = df.drop(['destination_name','destination_name_gali'], axis=1)

encoder = OneHotEncoder()
df_source_name_city = pd.DataFrame(encoder.fit_transform(df[['destination_name_city']]).toarray())
df_source_name_city = df_source_name_city.add_prefix('destination_name_city_')
df = df.join(df_source_name_city)

df = df.drop(['destination_name_city'], axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_19804\2585597997.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['destination_name'] = df['destination_name'].str.replace('(', ' ')
C:\Users\HP\AppData\Local\Temp\ipykernel_19804\2585597997.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['destination_name'] = df['destination_name'].str.replace(')', '')

1433 31

In [14]:
df[['od_start_date','od_start_clk']] = df['od_start_time'].str.split(' ', expand=True)
df[['od_start_year','od_start_month','od_start_day']] = df['od_start_date'].str.split('-', expand=True)
df[['od_start_hour','od_start_min','od_start_sec']] = df['od_start_clk'].str.split(':', expand=True)

df[['od_start_year','od_start_month','od_start_day','od_start_hour','od_start_min','od_start_sec']] = df[['od_start_year','od_start_month','od_start_day','od_start_hour','od_start_min','od_start_sec']].astype(float)

df = df.drop(['od_start_time','od_start_date','od_start_clk'], axis=1)

In [15]:
df[['od_end_date','od_end_clk']] = df['od_end_time'].str.split(' ', expand=True)
df[['od_end_year','od_end_month','od_end_day']] = df['od_end_date'].str.split('-', expand=True)
df[['od_end_hour','od_end_min','od_end_sec']] = df['od_end_clk'].str.split(':', expand=True)

df[['od_end_year','od_end_month','od_end_day','od_end_hour','od_end_min','od_end_sec']] = df[['od_end_year','od_end_month','od_end_day','od_end_hour','od_end_min','od_end_sec']].astype(float)

df = df.drop(['od_end_time','od_end_date','od_end_clk'], axis=1)

In [16]:
print(df['start_scan_to_end_scan'].isnull().sum())
df['start_scan_to_end_scan'].head()

0

0     713.521495
1     902.759458
2     923.666146
3     705.451567
4    1109.682268
Name: start_scan_to_end_scan, dtype: float64

In [17]:
print(len(pd.unique(df['is_cutoff'])))

encoder = LabelBinarizer()
df['is_cutoff'] = encoder.fit_transform(df['is_cutoff'])

2

In [18]:
print(df['cutoff_factor'].isnull().sum())
df['cutoff_factor'].head()

0

0     44
1     22
2     22
3    176
4    198
Name: cutoff_factor, dtype: int64

In [19]:
df[['cutoff_timestamp_date','cutoff_timestamp_clk']] = df['cutoff_timestamp'].str.split(' ', expand=True)
df[['cutoff_timestamp_year','cutoff_timestamp_month','cutoff_timestamp_day']] = df['cutoff_timestamp_date'].str.split('-', expand=True)
df[['cutoff_timestamp_hour','cutoff_timestamp_min','cutoff_timestamp_sec']] = df['cutoff_timestamp_clk'].str.split(':', expand=True)

df[['cutoff_timestamp_year','cutoff_timestamp_month','cutoff_timestamp_day','cutoff_timestamp_hour','cutoff_timestamp_min','cutoff_timestamp_sec']] = df[['cutoff_timestamp_year','cutoff_timestamp_month','cutoff_timestamp_day','cutoff_timestamp_hour','cutoff_timestamp_min','cutoff_timestamp_sec']].astype(float)

df = df.drop(['cutoff_timestamp','cutoff_timestamp_date','cutoff_timestamp_clk'], axis=1)

In [20]:
print(df['actual_distance_to_destination'].isnull().sum())
df['actual_distance_to_destination'].head()

0

0    158.807515
1     81.388109
2    134.486898
3    262.866674
4    379.389280
Name: actual_distance_to_destination, dtype: float64

In [21]:
print(df['osrm_time'].isnull().sum())
df['osrm_time'].head()

14432

0    778.672716
1    227.479029
2    400.072069
3    510.123878
4           NaN
Name: osrm_time, dtype: float64

In [22]:
print(df['osrm_distance'].isnull().sum())
df['osrm_distance'].head()

14432

0    1228.735753
1            NaN
2    1188.943158
3     999.421258
4            NaN
Name: osrm_distance, dtype: float64

In [23]:
print(df['factor'].isnull().sum())
df['factor'].head()

1644

0    2.782826
1    3.625248
2    4.415969
3    2.946647
4    1.998790
Name: factor, dtype: float64

In [24]:
print(df['segment_actual_time'].isnull().sum())
df['segment_actual_time'].head()

0

0     77.988686
1     68.517914
2     70.475386
3    101.876844
4     46.571301
Name: segment_actual_time, dtype: float64

In [25]:
print(df['segment_osrm_time'].isnull().sum())
df['segment_osrm_time'].head()

0

0    20.793472
1    18.787231
2    24.371978
3    19.588977
4    22.671495
Name: segment_osrm_time, dtype: float64

In [26]:
print(df['segment_osrm_distance'].isnull().sum())
df['segment_osrm_distance'].head()

0

0    28.475783
1    34.612259
2    29.867950
3    27.794019
4    26.971844
Name: segment_osrm_distance, dtype: float64

In [27]:
print(df['segment_factor'].isnull().sum())
df['segment_factor'].head()

1159

0    3.292773
1    4.277350
2    5.322072
3    4.265799
4    3.553652
Name: segment_factor, dtype: float64

In [28]:
print(df['actual_time'].isnull().sum())
df['actual_time'].head()

0

0    100.0
1     61.0
2     69.0
3    300.0
4    286.0
Name: actual_time, dtype: float64

In [29]:
df = df.interpolate(method ='linear', limit_direction ='forward')

In [30]:
import numpy as np

In [31]:
x = df.iloc[:, 1:-1].values
row_sums = x.sum(axis=1)
x = x / row_sums[:, np.newaxis]

y = df.iloc[:, -1].values

In [32]:
np.save('log/x_train', x)
np.save('log/y_train', y)

In [33]:
df

,UID,route_type,start_scan_to_end_scan,is_cutoff,cutoff_factor,actual_distance_to_destination,osrm_time,osrm_distance,factor,segment_actual_time,...,od_end_day,od_end_hour,od_end_min,od_end_sec,cutoff_timestamp_year,cutoff_timestamp_month,cutoff_timestamp_day,cutoff_timestamp_hour,cutoff_timestamp_min,cutoff_timestamp_sec
0,lWYYrbNEdf,1,713.521495,1,44,158.807515,778.672716,1228.735753,2.782826,77.988686,...,15.0,6.0,33.0,35.824186,2018.0,9.0,15.0,4.0,45.0,23.0
1,iNJcHQlPCm,1,902.759458,1,22,81.388109,227.479029,1208.839455,3.625248,68.517914,...,1.0,6.0,48.0,37.637477,2018.0,10.0,1.0,5.0,38.0,30.0
2,U6N0M43qwR,1,923.666146,1,22,134.486898,400.072069,1188.943158,4.415969,70.475386,...,24.0,11.0,15.0,0.826140,2018.0,9.0,24.0,9.0,21.0,30.0
3,RrJUneuYNj,1,705.451567,1,176,262.866674,510.123878,999.421258,2.946647,101.876844,...,22.0,19.0,17.0,22.242888,2018.0,9.0,22.0,14.0,9.0,17.0
4,7QLdD7iRC9,1,1109.682268,1,198,379.389280,1420.967994,1738.939687,1.998790,46.571301,...,18.0,17.0,58.0,48.449251,2018.0,9.0,18.0,12.0,14.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72153,dNuV95njhn,1,1132.865742,1,66,135.001150,687.062349,1392.622148,1.950803,55.856356,...,29.0,21.0,49.0,0.323701,2018.0,9.0,29.0,20.0,8.0,31.0
72154,ZSrzBfWx77,0,355.951299,1,18,74.245265,374.255819,1147.406870,1.927801,35.976514,...,22.0,13.0,46.0,54.235060,2018.0,9.0,22.0,13.0,11.0,21.0
72155,XsIYBRVK2V,1,737.899031,1,44,54.097087,895.612578,902.191591,2.148569,44.101033,...,15.0,8.0,8.0,11.723169,2018.0,9.0,15.0,6.0,53.0,24.0
72156,6YwMOShK5E,1,845.738186,1,88,99.918631,895.612578,1393.905281,2.206373,37.771823,...,22.0,18.0,10.0,26.705628,2018.0,9.0,22.0,15.0,42.0,27.0
72157,K9PVwkfL9T,1,2568.330235,1,264,315.762909,895.612578,1393.905281,2.500283,54.154817,...,14.0,19.0,40.0,20.028790,2018.0,9.0,14.0,9.0,16.0,12.0