In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('dataset/test_data.csv')

In [ ]:
df.head(5)

In [ ]:
df['route_type'].unique()

In [5]:
df_1 = df.drop(['cutoff_factor','cutoff_timestamp','segment_factor'],axis=1)

In [6]:
df_1.shape

(72158, 18)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72158 entries, 0 to 72157
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UID                             72158 non-null  object
 1   trip_creation_time              72158 non-null  object
 2   route_schedule_uuid             72158 non-null  object
 3   route_type                      72158 non-null  object
 4   trip_uuid                       72158 non-null  object
 5   source_center                   72158 non-null  object
 6   source_name                     72158 non-null  object
 7   destination_center              72158 non-null  object
 8   destination_name                72158 non-null  object
 9   od_start_time                   72158 non-null  object
 10  od_end_time                     72158 non-null  object
 11  start_scan_to_end_scan          72158 non-null  float64
 12  is_cutoff                       72158 non-null  bool
 13  cutoff_factor                   72158 non-null  int64
 14  cutoff_timestamp                72158 non-null  object
 15  actual_distance_to_destination  72158 non-null  float64
 16  osrm_time                       72158 non-null  float64
 17  osrm_distance                   72158 non-null  float64
 18  factor                          72158 non-null  float64
 19  segment_actual_time             72158 non-null  float64
 20  segment_osrm_time               72158 non-null  float64
 21  segment_osrm_distance           72158 non-null  float64
 22  segment_factor                  72158 non-null  float64
 23  date                            72158 non-null  object
 24  time                            72158 non-null  object
dtypes: bool(1), float64(9), int64(1), object(14)
memory usage: 13.3+ MB

In [ ]:
df['route_type']

In [9]:
df.loc[df['route_type'] == 'Carting', 'route_type'] = 0
df.loc[df['route_type'] != 0, 'route_type'] = 1

In [ ]:
df.value_counts

In [ ]:
fig, ax = plt.subplots()
msno.bar(df, ax=ax, color=(0.25, 0.7, 0.25))

In [12]:
array=df['trip_creation_time'].value_counts()
len(array)

13494

In [7]:
df[['date','time']] = df['trip_creation_time'].str.split(' ',expand=True)
df

,UID,trip_creation_time,route_schedule_uuid,route_type,trip_uuid,source_center,source_name,destination_center,destination_name,od_start_time,...,actual_distance_to_destination,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor,date,time
0,XMsT9clviB,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,27.637279,28.0,32.5395,1.428571,16.0,7.0,10.8152,2.285714,2018-09-20,02:35:36.476840
1,1iUuyRUZ2Y,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,...,39.386040,44.0,54.2181,1.545455,6.0,5.0,3.9153,1.200000,2018-09-20,02:35:36.476840
2,wancwiAIU3,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),IND388320AAA,Anand_Vaghasi_IP (Gujarat),2018-09-20 04:47:45.236797,...,10.403038,11.0,12.1171,1.363636,15.0,11.0,12.1171,1.363636,2018-09-20,02:35:36.476840
3,1tIt8EwJjB,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),IND388320AAA,Anand_Vaghasi_IP (Gujarat),2018-09-20 04:47:45.236797,...,38.939167,39.0,47.1900,1.948718,10.0,10.0,11.3648,1.000000,2018-09-20,02:35:36.476840
4,W2vL6bJrjt,2018-09-23 06:42:06.021680,thanos::sroute:ff52ef7a-4d0d-4063-9bfe-cc21172...,FTL,trip-153768492602129387,IND421302AAG,Bhiwandi_Mankoli_HB (Maharashtra),IND411033AAA,Pune_Tathawde_H (Maharashtra),2018-09-23 06:42:06.021680,...,23.194334,24.0,26.8622,1.583333,38.0,24.0,26.8622,1.583333,2018-09-23,06:42:06.021680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72153,L5IrEpNBFb,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,11.080143,23.0,15.3398,1.913043,44.0,23.0,15.3398,1.913043,2018-09-20,16:24:28.436231
72154,s5TDXjnN3s,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,19.221595,35.0,34.4366,1.600000,12.0,26.0,16.9842,0.461538,2018-09-20,16:24:28.436231
72155,0croXy5yK5,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,27.964113,50.0,50.7273,1.400000,13.0,21.0,15.2911,0.619048,2018-09-20,16:24:28.436231
72156,P0okvBa2Ik,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,45.258278,60.0,67.9280,1.566667,12.0,12.0,8.1858,1.000000,2018-09-20,16:24:28.436231
72157,OVi46puumU,2018-09-20 16:24:28.436231,thanos::sroute:f0569d2f-4e20-4c31-8542-67b86d5...,Carting,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),2018-09-20 16:24:28.436231,...,66.163591,88.0,97.0933,1.590909,20.0,34.0,20.7053,0.588235,2018-09-20,16:24:28.436231

In [6]:
df.columns

Index(['UID', 'trip_creation_time', 'route_schedule_uuid', 'route_type',
       'trip_uuid', 'source_center', 'source_name', 'destination_center',
       'destination_name', 'od_start_time', 'od_end_time',
       'start_scan_to_end_scan', 'is_cutoff', 'cutoff_factor',
       'cutoff_timestamp', 'actual_distance_to_destination', 'osrm_time',
       'osrm_distance', 'factor', 'segment_actual_time', 'segment_osrm_time',
       'segment_osrm_distance', 'segment_factor'],
      dtype='object')

In [15]:
array = df['route_schedule_uuid'].value_counts()
len(array)

1466

In [16]:
array = df['trip_uuid'].value_counts()
len(array)

13494

In [17]:
mapping_dict = df.groupby('destination_name')['destination_center'].last().to_dict()
df['destination_center'] = df['destination_center'].fillna(df['destination_name'].map(mapping_dict))

In [18]:
df['factor'].fillna(df['factor'].mean(),inplace=True)
df['segment_factor'].fillna(df['segment_factor'].mean(),inplace=True)

In [19]:
df = df.drop(['route_schedule_uuid','source_name','destination_name','od_start_time','od_end_time','trip_creation_time','osrm_distance','osrm_time'],axis=1)

In [20]:
df.loc[df['is_cutoff'] == 'TRUE', 'is_cutoff'] = 0
df.loc[df['is_cutoff'] != 0, 'is_cutoff'] = 1

In [21]:
df[['cutoff_date','cutoff_time']] = df['cutoff_timestamp'].str.split(' ',expand=True)
df = df.drop(['cutoff_timestamp'],axis=1)

In [ ]:
df

In [ ]:
df[['trip','trip-uuid']] = df['trip_uuid'].str.split('-',expand=True)
df = df.drop(['trip_uuid'],axis=1)
df = df.drop(['trip'],axis=1)
df

In [ ]:
df.isnull().sum()

In [25]:
df.shape

(72158, 18)

In [26]:
df.dropna(inplace=True)
df.shape

(72158, 18)

In [27]:
df['source_center'][0][3:9]

'388121'

In [28]:
df['source_center_number'] = df['source_center'].str[3:9]
df['source_center_name'] = df['source_center'].str[9:12]

In [29]:
df.drop(['source_center'],axis=1,inplace=True)

In [ ]:
df.head(25)

In [31]:
df['destination_center_number'] = df['destination_center'].str[3:9]
df['destination_center_name'] = df['destination_center'].str[9:12]
df.drop(['destination_center'],axis=1,inplace=True)

In [ ]:
df

In [32]:
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])

# combine cutoff_date and cutoff_time columns into datetime object
df['cutoff_datetime'] = pd.to_datetime(df['cutoff_date'] + ' ' + df['cutoff_time'])

# calculate time elapsed as timedelta object
df['time_elapsed'] = df['cutoff_datetime'] - df['datetime']

In [ ]:
df

In [33]:
df.drop(['date','time','cutoff_date','cutoff_time',],axis=1,inplace=True)

In [ ]:
df

In [34]:
df.drop(['datetime','cutoff_datetime'],axis=1,inplace=True)

In [ ]:
df

In [35]:
df.shape

(72158, 17)

In [36]:
df['time_elapsed_hours'] = df['time_elapsed'].dt.total_seconds() / 3600

In [ ]:
df

In [37]:
df.drop(['time_elapsed'],axis=1,inplace=True)

In [38]:
df['source_center_name'].unique()

array(['AAA', 'AAB', 'AAG', 'ACA', 'AAC', 'AAD', 'ACK', 'ACB', 'ABA',
       'AAE', 'AFT', 'AAN', 'AAM', 'AAR', 'ACT', 'AAK', 'AFJ', 'ADV',
       'AAF', 'AA', 'ABD', 'AFG', 'AAL', 'ACN', 'ABG', 'AAJ', 'AAI',
       'AEM', 'AEL', 'AET', 'AFR', 'AFF', 'AAS', 'AAH', 'ADM', 'AAQ'],
      dtype=object)

In [39]:
df['destination_center_name'].unique()

array(['AAB', 'AAA', 'AAD', 'ACA', 'AAE', 'AAC', 'AAF', 'ACB', 'ABA',
       'AAG', 'AFT', 'AAM', 'AAJ', 'AAH', 'AAL', 'AA', 'ABD', 'ACO',
       'AEL', 'AAR', 'AAK', 'AFS', 'AET', 'AAS', 'ACN', 'ACS', 'ADM',
       'AFF', 'AFJ', 'AAZ'], dtype=object)

In [40]:
df['source_center_number'].value_counts()

000000    12766
562132     4989
421302     4596
411033     2048
501359     1670
          ...
591115        1
301705        1
424101        1
783129        1
505326        1
Name: source_center_number, Length: 1345, dtype: int64

In [41]:
encoder = LabelEncoder()

# fit and transform the 'Color' column
df['source_center_name'] = encoder.fit_transform(df['source_center_name'])
df

,UID,route_type,start_scan_to_end_scan,is_cutoff,cutoff_factor,actual_distance_to_destination,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor,trip-uuid,source_center_number,source_center_name,destination_center_number,destination_center_name,time_elapsed_hours
0,XMsT9clviB,0,86.0,1,27,27.637279,1.428571,16.0,7.0,10.8152,2.285714,153741093647649320,388121,1,388620,AAB,1.428619
1,1iUuyRUZ2Y,0,86.0,False,39,39.386040,1.545455,6.0,5.0,3.9153,1.200000,153741093647649320,388121,1,388620,AAB,0.971812
2,wancwiAIU3,0,109.0,1,9,10.403038,1.363636,15.0,11.0,12.1171,1.363636,153741093647649320,388620,2,388320,AAA,3.672645
3,1tIt8EwJjB,0,109.0,1,36,38.939167,1.948718,10.0,10.0,11.3648,1.000000,153741093647649320,388620,2,388320,AAA,2.672090
4,W2vL6bJrjt,1,302.0,1,22,23.194334,1.583333,38.0,24.0,26.8622,1.583333,153768492602129387,421302,7,411033,AAA,4.386938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72153,L5IrEpNBFb,0,427.0,1,9,11.080143,1.913043,44.0,23.0,15.3398,1.913043,153746066843555182,131028,2,000000,ACB,6.380157
72154,s5TDXjnN3s,0,427.0,1,18,19.221595,1.600000,12.0,26.0,16.9842,0.461538,153746066843555182,131028,2,000000,ACB,6.180157
72155,0croXy5yK5,0,427.0,1,27,27.964113,1.400000,13.0,21.0,15.2911,0.619048,153746066843555182,131028,2,000000,ACB,5.947379
72156,P0okvBa2Ik,0,427.0,1,45,45.258278,1.566667,12.0,12.0,8.1858,1.000000,153746066843555182,131028,2,000000,ACB,5.547657
72157,OVi46puumU,0,427.0,1,63,66.163591,1.590909,20.0,34.0,20.7053,0.588235,153746066843555182,131028,2,000000,ACB,4.780434

In [42]:
df['destination_center_name'] = encoder.fit_transform(df['destination_center_name'])

In [ ]:
df

In [43]:
df.columns

Index(['UID', 'route_type', 'start_scan_to_end_scan', 'is_cutoff',
       'cutoff_factor', 'actual_distance_to_destination', 'factor',
       'segment_actual_time', 'segment_osrm_time', 'segment_osrm_distance',
       'segment_factor', 'trip-uuid', 'source_center_number',
       'source_center_name', 'destination_center_number',
       'destination_center_name', 'time_elapsed_hours'],
      dtype='object')

In [ ]:
#cols = ['UID','trip-uuid','route_type', 'start_scan_to_end_scan', 'is_cutoff',
#       'cutoff_factor', 'actual_distance_to_destination', 'factor',
#       'segment_actual_time', 'segment_osrm_time', 'segment_osrm_distance',
#       'segment_factor', 'source_center_number',
#       'source_center_name', 'destination_center_number',
#       'destination_center_name', 'time_elapsed_hours','actual_time']

cols = ['UID','trip-uuid','route_type', 'start_scan_to_end_scan', 'is_cutoff',
       'cutoff_factor', 'actual_distance_to_destination', 'factor',
       'segment_actual_time', 'segment_osrm_time', 'segment_osrm_distance',
       'segment_factor', 'source_center_number',
       'source_center_name', 'destination_center_number',
       'destination_center_name', 'time_elapsed_hours']

df = df[cols]
df

In [ ]:
df.to_csv('log/test_data.csv',index=False)

In [ ]:
df['route_schedule_uuid'] = df['route_schedule_uuid'].str.replace('thanos::sroute:', '')
df[['route_uuid_1','route_uuid_2','route_uuid_3','route_uuid_4','route_uuid_5']] = df['route_schedule_uuid'].str.split('-', expand=True)
print(len(pd.unique(df['route_uuid_1'])), len(pd.unique(df['route_uuid_2'])), len(pd.unique(df['route_uuid_3'])), len(pd.unique(df['route_uuid_4'])), len(pd.unique(df['route_uuid_5'])))
encoder = OneHotEncoder()
df_route_uuid_1 = pd.DataFrame(encoder.fit_transform(df[['route_uuid_1']]).toarray())
df_roite_uuid_1 = df_route_uuid_1.add_prefix('route_uuid_1_')
df.join(df_route_uuid_1)
encoder = OneHotEncoder()
df_route_uuid_2 = pd.DataFrame(encoder.fit_transform(df[['route_uuid_2']]).toarray())
df_roite_uuid_2 = df_route_uuid_2.add_prefix('route_uuid_2_')
df.join(df_route_uuid_1)
encoder = OneHotEncoder()
df_route_uuid_3 = pd.DataFrame(encoder.fit_transform(df[['route_uuid_3']]).toarray())
df_roite_uuid_3 = df_route_uuid_3.add_prefix('route_uuid_3_')
df.join(df_route_uuid_1)
encoder = OneHotEncoder()
df_route_uuid_4 = pd.DataFrame(encoder.fit_transform(df[['route_uuid_4']]).toarray())
df_roite_uuid_4 = df_route_uuid_4.add_prefix('route_uuid_4_')
df.join(df_route_uuid_1)
encoder = OneHotEncoder()
df_route_uuid_5 = pd.DataFrame(encoder.fit_transform(df[['route_uuid_5']]).toarray())
df_roite_uuid_5 = df_route_uuid_5.add_prefix('route_uuid_5_')
df.join(df_route_uuid_1)
df = df.drop(['route_schedule_uuid','route_uuid_1','route_uuid_2','route_uuid_3','route_uuid_4','route_uuid_5'], axis=1)